PENNSIEVE_API_KEY=api-key
PENNSIEVE_API_SECRET=api-secret
PENNSIEVE_API_HOST=https://api.pennsieve.net
HOME=/tmp
ENVIRONMENT=dev
PENNSIEVE_UPLOAD_BUCKET=pennsieve-dev-uploads-v2-use1
INTEGRATION_ID=1
DATASET_ID=N:dataset
TARGET_PATH=pipeline-202401091351